
<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       <h2 class='panel-heading'>
                        {{title}}
                      </h2>
                      <hr/>
                    </a>
                </li>
                <li>
                    <a routerLink="/home" >Home</a>
                </li>
                <li *ngIf="isLogIn">
                        <a routerLink="list">Your Bucket List</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li *ngIf="isLogIn">
                    <a href="#">Settings</a>
                </li>
                <li *ngIf="!isLogIn">
                    <a href="#">Register</a>
                </li>
                <li *ngIf="isLogIn">
                    <a href="#">Logout</a>
                </li>
                <li *ngIf="!isLogIn">
                    <a href="#">Login</a>
                </li>
            </ul>
        </div>
    
<router-outlet></router-outlet>
  </div>