
<h1>
    Add a new Project
</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div id="user-data">
                    <input for="ProjectId" hidden ngModel=project.ProjectId name="ProjectId">
                    <div class="form-group">
                        <label for="ProjectName">Project Name</label>
                        <input type="text" id="projectName" class="form-control"  name="ProjectName" required #projectName="ngModel" [(ngModel)]="project.Name">

                        <span class="help-block" *ngIf="!projectName.valid && projectName.touched">
                            Please enter Project name !
                        </span>

                    </div>
                 
                    <div class="form-group">
                        <label for="StartDate">Start Date</label>
                        <input type="date" id="startDate" class="form-control"    name="StartDate" required #startDate="ngModel" [(ngModel)]="project.StartDate">
                        <p *ngIf="!startDate.valid && startDate.touched">Please enter date !</p>

                    </div>

                      
                    <div class="form-group">
                            <label for="DndDate">End Date</label>
                            <input type="date" id="endDate" class="form-control" name="EndDate" required #endDate="ngModel" [(ngModel)]="project.EndDate">
                            <p *ngIf="!endDate.valid && endDate.touched">Please enter date !</p>
    
                        </div>

                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea id="description" class="form-control"  name="Description" required ng-minlength="100" #description="ngModel" [(ngModel)]="project.Description">
                            </textarea>
                        <p *ngIf="!description.valid && description.touched">Please enter description more than 100 keywords !</p>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]="!f.valid">
                            Submit
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>