<div class="container homeDiv" >
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8 detailDiv">
                <h2>
                    <span class="label label-primary"> Bucket list</span>
                </h2>
                <p>
                    We helps you remember, discover, and experience things that make life more fun: that awesome movie you heard about, a cool
                    restaurant you passed by, book tips from a friend, podcasts, TV series, games, music…
                </p>
               
            </div>
            <div class="col-md-3">
            </div>
        
        </div>
        <div class="row buttonDiv">
                <div class="col-md-4"></div>
                <div class="col-md-4">
          <button class="btn btn-primary">Create your Bucket List</button>   
          </div>
          <div class="col-md-4"></div>
        </div>
        
</div>
